
.twilio-main-section #content a {
    text-decoration: none;
}
.twilio-main-section #content a.edit {
    padding-right: 10px;
}

.fa-plus-circle, .fa-minus-circle {
    cursor: pointer;
    font-size: 30px;
}