uploads/
docs/
docs.bak/
.htaccess
application/config/database.php
application/config/company.php
application/config/config.php
application/config/constants.php
application/config/constants.php.bak
application/cache/
application/logs/
assets/arborcare/pictures
assets/OpenVBX/audio-uploads
commit.sh
.idea/
package-lock.json
socket/config.json
# assets/js/wsconfig.js
Nginx_1.17_vhost.conf
.env
composer.lock
/CI_MX_phpStorm.php
/CI_phpStorm.php
/DB_active_rec.php
/my_models.php
Dockerstack.yaml
deployments/local/conf

.DS_Store
