.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
    z-index: 10000;
}

.chatboxhead {
	background-color: #00a0de;
	padding:7px;
	color: #ffffff;

	border-right:1px solid #00a0de;
	border-left:1px solid #00a0de;
}

.chatboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	/*width:209px;*/
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {
	border: 2px solid #f99d39;
	outline: 0;
}

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	width: 20px;
	display: inline-block;
	border: 1px solid;
	text-align: center;
}

.chatboxtitle {
	float: left;
}
.text-danger {
    color: #fb6b5b!important;
}
.text-warning {
	color: #ffc333!important;
}
.text-success {
	color: #8ec165!important;
}
.radio-custom > i.text-danger.checked:before, .checkbox-custom > i.text-danger.checked:before {
    color: #fb6b5b;
}